$color-white: rgb( 255, 255, 255 );
$color-grey-90: rgb( 25, 25, 25 );
$color-grey-80: rgb( 50, 50, 50 );
$color-grey-70: rgb( 75, 75, 75 );
$color-grey-60: rgb( 100, 100, 100 );
$color-grey-50: rgb( 125, 125, 125 );
$color-grey-40: rgb( 150, 150, 150 );
$color-grey-30: rgb( 175, 175, 175 );
$color-grey-20: rgb( 200, 200, 200 );
$color-grey-10: rgb( 225, 225, 225 );
$color-black: rgb(0, 0, 0);
$color-link: $color-black;
$color-background-body: $color-white;
$color-background-page: $color-grey-10;
$color-text: $color-grey-70;