body {
  background-color: $color-background-body;
  font-family: $font-family;
  color: $color-text;
  height: 100%;
  width: 100%;
  position: absolute;
}
a {
  color: $color-link;
}
#root {
  width: 100%;
  height: 100%;
}