body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: #4b4b4b;
  height: 100%;
  width: 100%;
  position: absolute; }

a {
  color: black; }

#root {
  width: 100%;
  height: 100%; }

.navigation {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin: 12px 0 0 12px; }

.mouse {
  position: absolute;
  background-color: white;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 10000;
  transform: translate(-10px, -10px) scale(1, 1);
  transition: all 0.05s linear; }
  .mouse--click {
    transform: translate(-10px, -10px) scale(5, 5);
    opacity: 0; }

.page {
  background-color: #e1e1e1; }
